  <footer>
    <div class="wrapper">
      <div id="blog-mini-1" class="footer-col">
        <h3>Fréttir</h3>
        <hr />
        
          <h4><a href="">Feedback Loops in Healthcare&mdash;An Example</a></h4>
          <p><p>At Smálán we&rsquo;ve been talking a lot about feedback loops, behaviour change and chronic disease. Now let&rsquo;s talk about a technology change that could enable a real shift in the care of one particular disease: heart disease.</p>

  <p class='more'><a href=''></a></p></p>
        
      </div>
      <div id="blog-mini-2" class="footer-col">
        <br/>
        <br/>
        <br/>
        
          <h4><a href="">Smálán: Raised Money, Spending On New Hires</a></h4>
          <p><p>Aza and I have spent the last few weeks trekking up and down Sand Hill road, speaking with investors and looking for firms and individuals who share our mission to help people get healthy, and can help us build a great company.</p>

  <p class='more'><a href=''></a></p></p>
        
      </div>
      <div id="jobs-mini" class="footer-col last">
        <h3>Jobs</h3>
        <hr />
        <h4>Join the Light Side</h4>
        <p>Want to make the world a better place? <em>We aren&rsquo;t talking wishy-washy social app. We&rsquo;re talking saving lives.</em></p>
        <p>If you&rsquo;ve got what it takes, apply. It&rsquo;s a hardcore interview process, but we promise lunch and a titillating time. Plus, it&rsquo;ll look good in your memoir.</p>
        <p><a href="/jobs" id="jobs-learn-more">Learn More</a></p>
      </div>
      <div class="clearfix"></div>
      <hr />
      <div id="copyright">
        <span class="copyright">&copy;</span> Copyright 2011 Smálán. All Rights Reserved.
      </div>
    </div>
  </footer>
