<div id="marquee" style="padding-bottom: 40px;">
  <div class="wrapper">
    <div id="spotlight"></div>
    <div id="big-logo"></div>
  <div style="margin-top: 115px; float: right; padding: 30px; border: 2px solid #444; border-radius: 5px; background: #ccc; padding-bottom: 5px;">
    <form>
      <h4>Viðskiptavinur</h4>
      <input name="ssn" placeholder="Kennitala"></input><br/>
      <input name="ssn" placeholder="Tölvupóstur"></input><br/>
      <input name="ssn" placeholder="GSM"></input><br/>
      <h4>Bankaupplýsingar</h4>
      <input name="ssn" placeholder="Útibú"></input>-26-
      <input name="ssn" placeholder="Reikningur"></input><br/>
      <input name="ssn" placeholder="Tékkaábyrgðarnúmer"></input><br/>
      <h4></h4>
      <input id="greidslus" type="checkbox">
      <label for="greidslus">Afþakka sendingu greiðsluseðla</label><br/>
      <input id="tos" type="checkbox">
      <label for="tos">Ég hef lesið og samþykki <a href="">lánaskilmála</a></label><br/>
      <a href="#sign-up" id="stay-informed-button" style="margin-bottom: 5px;">Skrá mig</a>
      <!--<input type="submit" value="Sækja um!"></input>-->
    </form>
  </div>
    <h2>
      Smálán á stundinni<br />
      Einföld skráning
    </h2>
    <h3><b>Lægri vextir og betri kjör</b>. <b>Skráðu þig núna</b></h3>
    <p>Þú getur einnig <a href="/"> fylgt okkur á Facebook</a>.
  </div>
</div>
